/* ------------- */
/* Style général */
/* ------------- */

body {
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
    font-family: antic;
    cursor: crosshair;
    background-color: #f4e3c0;
}

* {
    transition: 0.3s;
}

img {
    width: 100%;
}

h1,
h2,
h3 {
    font-family: Audiowide;
}

p {
    font-family: antic;
    font-size: 30px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #4e4e4e;
}

html {
    scroll-behavior: smooth;
}

/* classe pour les couleurs de span */

.magenta {
    color: #FB12FF;
}

.pink {
    color: #FD7CFF;
}

.purple {
    color: #9A47FF;
}

/* --------------------
----Style du header----
-------------------- */

header {
    padding: 32px 0px;
    display: flex;
    align-items: center;
    gap: 64px;
}

.logo-header {
    width: 6%;
    margin-left: 5%;
}

.name-header {
    font-size: 40px;
}

.link-to-left {
    margin-left: auto;
}



.link-header {
    font-size: 16px;
}

.link-header>h2:hover {
    color: #4e4e4e;
}

/* --------------------
----Style du footer----
-------------------- */


.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
}

.copyright>p {
    margin: 0px;
    font-size: 16px;
    
}

.footer-right {
    display: flex;
    gap: 33px;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 32px;
}

.logo-footer {
    width: 15%;
    display: flex;
    align-items: center;
}



.git-logo {
    width: 32px;
}

.link-social-media {
    display: flex;
    gap: 16px;
}

.logo-image {
    width: 32px;
    height: 32px;
    margin-right: 16px;
}