

.presentation-zone {
    padding: 32px 128px;
    border-radius: 20px;
    margin: 32px;
    backdrop-filter: blur(8px);
}

h3 {
    font-size: 25px;
}

.title {
    display: flex;
    justify-content: center;
}



.sae-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.box-under-title {
    display: flex;
    align-items: center;
    gap: 64px;
    margin-top: 64px;
}

.competences {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.competences>div {
    background: #FFF;
    border-radius: 15px;
    padding: 8px 32px;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}


.ressources-zone {
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
    justify-content: center;
    align-items: stretch;
}

.ressources {
    display: flex;
    flex-direction: column;
    background: #7D005C;
    padding: 32px;
    border-radius: 20px;
    width: 300px;
    text-align: center;
    align-items: center;
}

.ressources:hover{
    transform: scale(1.1);
}